[user]
  name = Jordan Mackie
  email = git@jmackie.dev

[github]
  user = jmackie

[credential]
  helper = store

[core]
  editor = nvim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore

[web]
  browser = firefox

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[merge]
  tool = vimdiff
  ff = only

[mergetool]
  prompt = true

[mergetool "vimdiff"]
  cmd = nvim -d -O ${LOCAL} ${REMOTE} ${MERGED}

[pull]
  rebase = true

[alias]
  st = status
  unstage = reset HEAD --
  # https://git.wiki.kernel.org/index.php/Aliases#Advanced_aliases_with_arguments
  rebase-onto = "!sh -c 'git rebase --onto $1 $(git merge-base $1 $(git rev-parse --abbrev-ref HEAD))' -"

[color]
  ui = auto

[color "branch"]
  current = yellow bold
  local = green bold
  remote = cyan bold

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
