! See: https://wiki.archlinux.org/index.php/HiDPI#X_Resources

! https://jnrowe.github.io/articles/tips/Sharing_Xresources_between_systems.html
#ifndef DPI
  #ifdef SRVR_jarvis
    #define DPI 160
  #else
    #define DPI 200
  #endif
#endif

Xft.dpi: DPI
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xfg.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! NOTE: on NixOS you might need to...
!   nix-env -iA nixos.numix-cursor-theme
!   ln -s ~/.nix-profile/share/icons/Numix-Cursor ~/.icons/Numix-Cursor
Xcursor*theme: Numix-Cursor
Xcursor*size: 32
