! See: https://wiki.archlinux.org/index.php/HiDPI#X_Resources
!Xft.dpi: 276
Xft.dpi: 250
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xfg.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! NOTE: on NixOS I had to...
!   nix-env -iA nixos.numix-cursor-theme
!   symlink ~/.nix-profile/share/icons/Numix-Cursor ~/.icons/Numix-Cursor
Xcursor*theme: Numix-Cursor
Xcursor*size: 32
